@use "@/styles/mixin.scss" as *;

.productRow {
  display: flex;
  padding-left: calc((100vw - 1280px) / 2);
  width: 110%;
  transition: opacity 0.2s ease;
  opacity: 1;
  //flex-wrap: wrap;
  //margin-top: -400px;
  @media (max-width: rem(992)) {
    margin: 0;
    width:100%;
  }
  &.fade {
    opacity: 0;
  }
  > div {
    border: none;
    //width: 25%;
    //padding: rem(16);
    &:nth-child(2),
    &:nth-child(3) {
      a {
        height: 100%;
        > div {
          height: 100%;
        }
        h3 {
          display: none;
        }
      }
      > div {
        display: none;
      }
    }
    @media (max-width: rem(992)) {
      &:first-child {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 2;
      }
    }
  }
  @media (max-width: rem(992)) {
    
  }
}
