@use "@/styles/mixin.scss" as *;

.homeHero {
  padding-top: rem(30);
  padding-bottom: rem(60);
  overflow: hidden;
  background: #362b1a;
  @media (max-width: rem(992)) {
    overflow: hidden;
    //margin-bottom: rem(40);
  }
  .container {
    padding: 0 rem(40);
    position: relative;
    @media (min-width: rem(1600)) {
      padding: 0 rem(100);
    }
    @media (max-width: rem(992)) {
      padding: 0 rem(16);
    }
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: rem(20);
    position: relative;
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .col1 {
      width: 60%;

      @media (min-width: rem(1600)) {
        width: 100%;
      }
      @media (max-width: rem(992)) {
        position: relative;
        width: 100%;
      }
      h1 {
        color: #fff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 88px */
        text-transform: capitalize;
        @media (max-width: rem(992)) {
          font-size: 40px;
        }
      }
      h2 {
        color: #fff;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        text-transform: capitalize;
        @media (max-width: rem(992)) {
          font-size: 20px;
        }
      }
    }
    .col2 {
      width: rem(300);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 18.2px */
      }
    }
  }
  .bottom {
    overflow: hidden;
    width: 100%;
    margin-top: rem(40);
    .videos {
      display: flex;
      gap: 4px;
      width: calc(100vw + 48px);
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      @media (max-width: rem(992)) {
        width: calc(100vw + 200px);
      }
      .videoWrapper {
        width: 33.33% !important;
        height: 600px !important;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        @media (max-width: rem(992)) {
          height: 300px !important;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
        > div {
          height: 600px !important;

          @media (max-width: rem(992)) {
            height: 300px !important;
          }

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
          }
        }
      }
    }
  }
}
