@use "@/styles/mixin.scss" as *;

.samplesWrap {
  margin: rem(50) 0 rem(140) 0;
  @media (max-width: rem(992)) {
    margin-bottom: rem(80);
  }
  .sectionTitle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(24);
    gap: rem(40);
    @media (max-width: rem(992)) {
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(30);
      margin-bottom: rem(48);
    }
    &.left {
      margin-left: auto;
    }
    &.white {
      .label {
        color: #757575;
        background: #fff;
      }
      .title {
        color: #fff;
      }
      .text {
        color: #fff;
      }
    }
    .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(8);
    }
    .buttons {
      display: flex;
      gap: rem(8);
      @media (max-width: rem(992)) {
        flex-direction: column;
        display: none;
      }
      a {
        &:first-child {
          border: 1px solid rgba(0, 0, 0, 0.6);
          display: flex;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius-full, 9999px);
          background: #fff;
          padding: 0 16px;
          color: #666;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          &:hover {
            background: #666;
            color: #fff;
          }
        }
      }
    }
    .label {
      font-family: var(--font-helvetica-neue);
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      display: flex;
      padding: 8px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 99px;
      background: rgba(0, 0, 0, 0.2);
    }
    .title {
      color: #111;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 33.6px */
      @media (max-width: rem(992)) {
        font-size: 20px;
        br {
          display: none;
        }
      }
    }
    .text {
      color: #111;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 130%; /* 18.2px */
      @media (max-width: rem(992)) {
        font-size: rem(12);
        br {
          display: none;
        }
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: rem(36);
    .videoRow {
      display: flex;
      gap: rem(30);
      @media (max-width: rem(992)) {
        flex-direction: column;
        gap: rem(24);
      }
      > div {
        &:last-child {
          width: calc(100% - rem(402));
          border-radius: rem(20);
          overflow: hidden;
          background-position: center;
          background-size: cover;
          height: rem(455);
          position: relative;
          @media (max-width: rem(992)) {
            width: 100% !important;
            height: rem(250) !important;
          }
        }
        &:first-child {
          width: rem(372);
          padding: rem(40);
          @media (max-width: rem(992)) {
            width: 100%;
            padding: rem(0);
          }
          h3 {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: rem(8);
          }
          p {
            color: #000000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
          }
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: rem(20);
    margin-top: rem(80);
    @media (max-width: rem(992)) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    a {
      &:first-child {
        font-size: rem(22);
        font-weight: 400;
        line-height: 1;
        text-align: center;
        height: rem(54);
        border: 1px solid #c5d2c8;
        border-radius: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 rem(30);
        color: #2b2b2b;
        &:hover {
          color: #fff;
          background: #2b2b2b;
        }
        @media (max-width: rem(992)) {
          width: 100%;
        }
      }
      &.order {
        display: block;
        overflow: hidden;
        border-radius: rem(16) rem(27) rem(27) rem(16);
        width: rem(329);
        position: relative;
        transition: all 0.5s;
        @media (max-width: rem(992)) {
        }
        &:hover {
          border-radius: rem(8);
          > div {
            left: 0;
            svg {
              border-radius: rem(8);
              &:first-child {
                rect {
                  fill: #2d2d2d;
                }
              }
            }
            span {
              background: #1d4c29;
              border-radius: rem(8);
            }
          }
        }
        > div {
          position: relative;
          left: -59px;
          display: flex;
          width: rem(388);
          gap: rem(4);
          transition: all 0.5s;
          svg {
            transition: all 0.5s;
            border-radius: rem(27);
          }
          > span {
            display: flex;
            align-items: center;
            height: rem(54);
            gap: rem(8);
            padding: 0 rem(16);
            background: #2b2b2b;
            color: #fff;
            font-size: rem(20);
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            border-radius: rem(16);
            transition: all 0.5s;
            width: rem(270);
            justify-content: center;
          }
        }
      }
    }
  }
}
