@use "@/styles/mixin.scss" as *;

.moreButton {
  margin-top: rem(24);
  a {
    display: block;
    overflow: hidden;
    border-radius: rem(16) rem(27) rem(27) rem(16);
    width: rem(235);
    position: relative;
    transition: all 0.5s;
    @media (max-width: rem(992)) {
      
    }
    &:hover {
      border-radius: rem(8);
      > div {
        left: 0;
        svg {
          border-radius: rem(8);
        }
        span {
          background: #2b2b2b;
          border-radius: rem(8);
        }
      }
    }
    > div {
      position: relative;
      left: -59px;
      display: flex;
      width: rem(294);
      gap: rem(4);
      transition: all 0.5s;
      svg {
        transition: all 0.5s;
        border-radius: rem(27);
      }
      > span {
        display: flex;
        align-items: center;
        height: rem(54);
        gap: rem(8);
        padding: 0 rem(16);
        background: #1d4c29;
        color: #fff;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        border-radius: rem(16);
        transition: all 0.5s;
        width: rem(176);
        justify-content: center;
      }
    }
  }
}
