@use "@/styles/mixin.scss" as *;

.sectionTitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: rem(24);
  gap: rem(40);
  @media (max-width: rem(992)) {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(30);
    margin-bottom: rem(48);
  }
  &.left {
    margin-left: auto;
  }
  &.white {
    .label {
      color: #757575;
      background: #fff;
    }
    .title {
      color: #fff;
    }
    .text {
      color: #fff;
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(8);
  }
  .label {
    font-family: var(--font-helvetica-neue);
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 99px;
    background: rgba(0, 0, 0, 0.2);
  }
  .title {
    color: #111;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 33.6px */
    @media (max-width: rem(992)) {
      font-size: 20px;
      br {
        display: none;
      }
    }
  }
  .text {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
    @media (max-width: rem(992)) {
      font-size: rem(12);
      br {
        display: none;
      }
    }
  }
}
