@use "@/styles/mixin.scss" as *;

.process {
  padding: rem(90) 0;
  overflow: hidden;
  background: #211c32;
  @media (max-width: rem(992)) {
    padding: rem(60) 0;
  }
  .processTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(24);
    gap: 8px;
    .label {
      font-family: var(--font-helvetica-neue);
      color: #111;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      display: flex;
      padding: 8px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 99px;
      background: #babefe;
    }
    .title {
      color: #babefe;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 33.6px */
      @media (max-width: rem(992)) {
        font-size: rem(20);
        br {
          display: none;
        }
      }
    }
  }
  .processrow {
    display: flex;
    flex-wrap: wrap;
    gap: rem(24);
    @media (max-width: rem(992)) {
      gap: rem(20);
    }
    .item {
      width: calc(33.33% - rem(16));
      //flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: rem(32);
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.1);
      position: relative;
      height: 400px;
      overflow: hidden;
      @media (max-width: rem(992)) {
        height: 300px;
        padding: 24px;
      }
      &:first-child,
      &:nth-child(2) {
        box-sizing: border-box;
        width: calc(50% - rem(12));
        height: 250px;
        @media (max-width: rem(992)) {
          width: 100%;
          height: 300px;
        }
        h3,
        p {
          width: 50%;
          @media (max-width: rem(992)) {
            width: 100%;
          }
        }
        img {
          position: absolute;
          left: unset;
          transform: unset;
          right: -70px;
          @media (max-width: rem(992)) {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            max-width:80%;
          }
        }
      }
      @media (max-width: rem(992)) {
        width: 100%;
      }
      img {
        position: absolute;
        bottom: 0;
        width: auto;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: rem(992)) {
          max-width: 80%;
        }
      }
      h3 {
        color: #fff;
        margin-bottom: rem(8);
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @media (max-width: rem(992)) {
          font-size: rem(20);
        }
      }
      p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
      }
    }
  }
}
