@use "@/styles/mixin.scss" as *;

.videosWeCreate {
  margin: rem(80) 0;
  .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(60);
    @media (max-width: rem(992)) {
      flex-direction: column;
      gap: rem(24);
    }
    .sectionTitle {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: rem(24);
      width: 25%;
      position: sticky;
      top: 80px;
      @media (max-width: rem(992)) {
        width: 100%;
        position: relative;
        top: unset;
      }
      &.left {
        margin-left: auto;
      }
      &.white {
        .label {
          color: #757575;
          background: #fff;
        }
        .title {
          color: #fff;
        }
        .text {
          color: #fff;
        }
      }
      .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(8);
      }
      .buttons {
        display: flex;
        gap: rem(8);
        @media (max-width: rem(992)) {
          flex-direction: column;
          display: none;
        }
        a {
          &:first-child {
            border: 1px solid rgba(0, 0, 0, 0.6);
            display: flex;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--border-radius-full, 9999px);
            background: #fff;
            padding: 0 16px;
            color: #666;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            &:hover {
              background: #666;
              color: #fff;
            }
          }
        }
      }
      .label {
        font-family: var(--font-helvetica-neue);
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        display: flex;
        padding: 8px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 99px;
        background: rgba(0, 0, 0, 0.2);
      }
      .title {
        color: #111;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 33.6px */
        @media (max-width: rem(992)) {
          font-size: 20px;
          br {
            display: none;
          }
        }
      }
      .text {
        color: #111;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 18.2px */
        @media (max-width: rem(992)) {
          font-size: rem(12);
          br {
            display: none;
          }
        }
      }
    }
    .row {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      width: 75%;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      .item {
        width: 100%;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        @media (max-width: rem(992)) {
          width: 100%;
        }
        h3 {
          color: var(--colors-base-black, #000);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 8px;
          @media (max-width: rem(992)) {
            font-size: rem(16);
          }
        }
        p {
          color: #000000;
          font-size: rem(14);
          font-weight: 400;
          line-height: 1.3;
          text-align: left;
          @media (max-width: rem(992)) {
            font-size: rem(12);
          }
        }
      }
    }
  }
  .buttonsMobile {
    gap: rem(8);
    display: none;
    //margin-top: rem(40);
    @media (max-width: rem(992)) {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    a {
      &:first-child {
        border: 1px solid rgba(0, 0, 0, 0.6);
        display: flex;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-full, 9999px);
        background: #fff;
        padding: 0 16px;
        color: #666;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        &:hover {
          background: #666;
          color: #fff;
        }
      }
    }
  }
}
