@use "@/styles/mixin.scss" as *;

.homeHero {
  position: relative;
  height: 100dvh;
  margin-top: -67px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  video {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    @media (max-width: rem(992)) {
      height: 100%;
      width: auto;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #00000066;
    width: 100%;
    height: 100%;
  }
  .body {
    position: relative;
    z-index: 2;
    h1 {
      font-size: rem(60);
      font-weight: 300;
      line-height: 1.3;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: rem(24);
      span {
        font-weight: 700;
        display: block;
      }
      @media (max-width: rem(992)) {
        font-size: rem(32);
        text-align: left;
        margin-bottom: rem(16);
      }
    }
    p {
      font-family: var(--font-helvetica-neue);
      color: #ffffff;
      font-size: rem(26);
      font-weight: 200;
      line-height: 1.4;
      text-align: center;
      @media (max-width: rem(992)) {
        font-size: rem(18);
        text-align: left;
      }
    }
  }
}
