@use "@/styles/mixin.scss" as *;

.ideaHero {
  margin-bottom: rem(50);
  @media (max-width: rem(992)) {
    margin-bottom: rem(40);
  }
  .container {
    padding: 0 rem(40);
    position: relative;
    @media (max-width: rem(992)) {
      padding: 0 rem(16);
    }
    .imageWrap {
      background: #1d4c29;
      width: 100%;
      height: rem(500);
      position: relative;
      border-radius: rem(20);
      @media (min-width: rem(1600)) {
        height: calc(100vh - rem(180));
      }
      @media (max-width: rem(992)) {
        clip-path: unset;
        height: rem(574);
        border-radius: rem(20);
        overflow: hidden;
      }
      img {
        object-fit: cover;
        border-radius: rem(20);
      }
    }
  }
}
