@use "@/styles/mixin.scss" as *;

.main {
  padding: rem(80) 0;
  overflow: hidden;
  background: #111;
  position: relative;
  @media (max-width: rem(992)) {
    margin: rem(80) 0;
  }
  .body {
    display: flex;
    gap: rem(40);
    align-items: center;
    flex-direction: column;
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    > div {
      &:first-child {
        width: 100%;
        @media (max-width: rem(992)) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 100%;
        @media (max-width: rem(992)) {
          width: 100%;
        }
      }
    }
  }
}
