@use "@/styles/mixin.scss" as *;

.assistanceForm {
  max-width: rem(655);
  margin: 0 auto;
  @media (max-width: 992px) {
    max-width: 100%;
  }
  .success {
    text-align: left;
    color: #fff;
    margin-top: rem(24);
    display: block;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(16);
    row-gap: rem(24);

    .submit {
      display: flex;
      margin-left: auto;
      span {
        white-space: nowrap;
        &:first-child {
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius-full, 9999px);
          background: #fff;
          padding: 0 24px;
          color: #000;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%; /* 22.4px */
        }
        &:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          border-radius: var(--border-radius-full, 9999px);
          background: #fff;
          svg {
            width: 20px;
            height: 20px;
            path {
              fill: #000;
            }
          }
        }
      }
    }
    > div {
      width: calc(50% - rem(8));
      position: relative;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      &.full {
        width: 100%;
      }
      input {
        width: 100%;
        color: #050505;
        font-size: rem(16);
        font-weight: 300;
        line-height: 1;
        text-align: left;
        padding: 0 rem(27);
        border-radius: rem(16);
        height: rem(50);
        border: 1px solid #fff;
        &.invalid {
          border-color: #f00;
        }
      }
      .error {
        color: #f00;
        font-size: rem(12);
        position: absolute;
        left: 0;
        top: calc(100% + 2px);
      }
      textarea {
        width: 100%;
        color: #050505;
        font-size: rem(16);
        font-weight: 300;
        line-height: 1;
        text-align: left;
        padding: rem(18) rem(27);
        border-radius: rem(16);
        height: rem(100);
      }
      .phoneWrap {
        width: 100%;
        &.invalid {
          input {
            border-color: #f00;
          }
        }
        input {
          width: 100%;
          color: #050505;
          font-size: rem(16);
          font-weight: 300;
          line-height: 1;
          text-align: left;
          padding: 0 rem(27) 0 rem(40);
          border-radius: rem(16);
          height: rem(50);
          border: 1px solid #fff;
        }
        > div {
          border: none !important;
          background: transparent !important;
          > div {
            border: none !important;
            background: transparent !important;
          }
          ul {
            width: rem(269);
            border-radius: rem(20);
            background: #f2f2f2;
            li {
              color: #1e1e1e;
              &.highlight,
              &:hover {
                background: #1d4c29 !important;
                color: #fff;
              }
            }
            &::-webkit-scrollbar {
              background: transparent;
              width: rem(5);
            }

            &::-webkit-scrollbar-track {
              background: #ffffff0d;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #121321;
              border-radius: 100px;
            }
          }
        }
      }
      .react-tel-input {
        &.invalid {
          input {
            border-bottom: 1px solid #ee342a;
          }
          & + span {
            color: #ee342a;
            position: absolute;
            font-size: 11px;
            line-height: 1;
          }
        }
      }
    }
  }
}
