.columnLayout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  display: none;

  @media (max-width: 768px) {
    br {
      display: none;
    }

    iframe {
      width: 100%;
    }
  }
}

.soc {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.label {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}