@use "@/styles/mixin.scss" as *;

.headerTop {
  background: #111111;
  padding: rem(20) 0;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col1 {
      display: flex;
      gap: rem(18);
      .soc {
        display: flex;
        align-items: center;
        height: rem(40);
        gap: rem(10);
        background: #f1f1f11a;
        border-radius: rem(12);
        padding: 0 rem(18);
      }
    }
    .col2 {
      display: flex;
      gap: rem(18);
      .cart {
        display: flex;
        align-items: center;
        height: rem(40);
        background: #f1f1f11a;
        border-radius: rem(12);
        padding: 0 rem(18);
      }
    }
    .headAccount {
      display: flex;
      align-items: center;
      background: #f1f1f11a;
      border-radius: rem(12);
      color: #fff;
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.1;
      @media (max-width: rem(992)) {
        display: none;
      }
      a {
        color: #fff;
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.1;
        padding: 0 rem(18);
        height: rem(40);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.header {
  position: sticky;
  top: 0;
  padding: rem(20) 0;
  transition: all 0.5s;
  z-index: 999;
  background: #fff;

  &.active {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
    }
    .menuBtn {
      display: none;
      @media (max-width: rem(992)) {
        display: flex;
      }
    }
    .nav {
      display: flex;
      justify-content: flex-end;
      gap: rem(24);
      @media (max-width: rem(992)) {
        display: none;
      }
      a {
        color: #000000;
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.1;
        text-align: left;
      }
    }
  }
}
