@use "@/styles/mixin.scss" as *;

.homeHero {
  position: relative;
  height: 100dvh;
  margin-top: -67px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  video {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    @media (max-width: rem(992)) {
      height: 100%;
      width: auto;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #00000066;
    width: 100%;
    height: 100%;
  }
  .body {
    position: relative;
    z-index: 2;
    h1 {
      font-size: rem(60);
      font-weight: 300;
      line-height: 1.3;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: rem(24);
      span {
        font-weight: 700;
        display: block;
      }
      @media (max-width: rem(992)) {
        font-size: rem(32);
        text-align: left;
        margin-bottom: rem(16);
      }
    }
    p {
      font-family: var(--font-helvetica-neue);
      color: #ffffff;
      font-size: rem(26);
      font-weight: 200;
      line-height: 1.4;
      text-align: center;
      @media (max-width: rem(992)) {
        font-size: rem(18);
        text-align: left;
      }
    }
  }
}


.test {
  width: 40%;
  clip-path: polygon(
    0% 7.038%,
    0% 7.038%,
    0.048% 5.897%,
    0.187% 4.814%,
    0.409% 3.804%,
    0.707% 2.882%,
    1.073% 2.061%,
    1.5% 1.358%,
    1.98% 0.786%,
    2.506% 0.359%,
    3.07% 0.092%,
    3.664% 0%,
    96.336% 0%,
    96.336% 0%,
    96.93% 0.092%,
    97.494% 0.359%,
    98.02% 0.786%,
    98.5% 1.358%,
    98.927% 2.061%,
    99.293% 2.882%,
    99.591% 3.804%,
    99.813% 4.814%,
    99.952% 5.897%,
    100% 7.038%,
    100% 92.962%,
    100% 92.962%,
    99.952% 94.104%,
    99.813% 95.186%,
    99.591% 96.196%,
    99.293% 97.119%,
    98.927% 97.939%,
    98.5% 98.642%,
    98.02% 99.214%,
    97.494% 99.641%,
    96.93% 99.908%,
    96.336% 100%,
    40.687% 100%,
    40.687% 100%,
    40.093% 99.908%,
    39.529% 99.641%,
    39.003% 99.214%,
    38.523% 98.642%,
    38.096% 97.939%,
    37.73% 97.119%,
    37.432% 96.196%,
    37.21% 95.186%,
    37.071% 94.104%,
    37.023% 92.962%,
    37.023% 57.771%,
    37.023% 57.771%,
    36.975% 56.63%,
    36.836% 55.547%,
    36.614% 54.537%,
    36.316% 53.615%,
    35.95% 52.795%,
    35.523% 52.091%,
    35.043% 51.519%,
    34.517% 51.092%,
    33.953% 50.825%,
    33.359% 50.733%,
    3.664% 50.733%,
    3.664% 50.733%,
    3.07% 50.641%,
    2.506% 50.374%,
    1.98% 49.948%,
    1.5% 49.375%,
    1.073% 48.672%,
    0.707% 47.852%,
    0.409% 46.929%,
    0.187% 45.92%,
    0.048% 44.837%,
    0% 43.695%,
    0% 7.038%
  );
}
