@use "@/styles/mixin.scss" as *;

.headAccount {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  overflow: hidden;
  @media (max-width: rem(992)) {
    //display: none;
  }
  a, button {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1;
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    &:hover {
      color: #000000;
    }
  }
  button {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 100px;
    &:hover {
      color: #000000;
      background: #fff;

      svg {
        fill: #000000;
      }
    }

    &:first-child {
      padding: 0 10px;
      height: 30px;
    }

    &:last-child {
      width: 29px;
      height: 30px;
    }
  }
}
