.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextBtn {
  position: absolute;
  right: 0;
  top: 280px;
  z-index: 50;

  @media (max-width: 768px) {
    display: none;
  }
}

.swipeCard {
  width: 100% !important;
  height: 650px !important;

  @media (max-width: 768px) {
    height: 202px !important;

    div {
      height: 202px !important;
    }
  }

  div {
    width: 100% !important;
    border-radius: 10px;
  }
}